<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Upload Successful</title>
        <!-- Redirect after 'delay_seconds' to 'redirect_url' -->
        <meta
            http-equiv="refresh"
            content="{{ delay_seconds }};url={{ redirect_url }}"
        />
        <!-- Bootstrap CSS 5.3.7 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous"
        />
    </head>
    <body
        class="bg-success-subtle d-flex flex-column justify-content-center align-items-center min-vh-100"
    >
        <!-- The container will be centered horizontally by the body's align-items-center -->
        <div class="container text-center my-4" style="max-width: 600px">
            <h1 class="display-4 text-success mb-3">
                Image uploaded successfully!
            </h1>
            <p class="lead mb-4">
                You will be redirected in {{ delay_seconds }} seconds...
            </p>
            <p>
                <a
                    href="{{ redirect_url }}"
                    class="btn btn-outline-success btn-lg"
                    >Click here to return immediately.</a
                >
            </p>
        </div>

        <!-- Bootstrap JS Bundle (Popper included) 5.3.7 -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
